html {
  height: 100vh;
  background: linear-gradient(
    187deg,
    rgba(41, 128, 185, 1) 3%,
    rgba(109, 213, 250, 1) 35%,
    rgba(113, 214, 250, 1) 59%,
    rgba(255, 255, 255, 1) 96%
  );
}
body {
  display: flex;
  justify-content: center;
}

.img-holder {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

img {
  width: 8rem;
  height: 8rem;
}

.container {
  margin-top: 3rem;

  display: flex;
  width: 70vw;
  height: 85vh;
}

.card {
  width: 70vw;
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-radius: 1rem;
}

.txt-holder {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-height: 85vh;
  max-width: 70vw;
  padding: 2rem;
}

.user-size {
  font-size: 1.5rem;
  color: slategrey;
}

h1 {
  color: rgb(63, 190, 248);
  font-size: 2rem;
  margin-bottom: 1rem;
}
.perk-1,
.perk-2 {
  color: rgb(63, 190, 248);
}

p {
  padding: 1rem;
  display: flex;
  align-content: center;
}
