html {
  height: 100vh;
  background: linear-gradient(
    187deg,
    rgba(41, 128, 185, 1) 3%,
    rgba(109, 213, 250, 1) 35%,
    rgba(113, 214, 250, 1) 59%,
    rgba(255, 255, 255, 1) 96%
  );
}
body {
  display: flex;
  justify-content: center;
}

.img-holder {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

img {
  width: 8rem;
  height: 8rem;
}

.container {
  margin-top: 3rem;
  border-width: 3px;
  display: flex;
  width: 70vw;
  height: 85vh;
}

.card {
  width: 70vw;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  border-radius: 1rem;
}

.txt-holder {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  max-height: 85vh;
  max-width: 70vw;
  padding: 2rem;
}

.user-size {
  font-size: 1.5rem;
  color: slategrey;
  border-bottom: rgb(188, 191, 194) 1px solid;
  width: 14rem;
  justify-content: center;
}

h1 {
  color: rgb(63, 190, 248);
  font-size: 2rem;
  margin-bottom: 1rem;
}
.perk-1,
.perk-2 {
  color: rgb(63, 190, 248);
  width: 14rem;
  align-content: center;
  justify-content: center;
}

p {
  padding: 0.5rem;
  display: flex;
  align-content: center;
  border-bottom: 1px solid rgb(188, 191, 194, 0.5);
  border-width: 1px;
  font-size: 1rem;
  text-align: center;
}

.compartment {
  outline: 1px solid rgb(188, 191, 194, 0.5);
  height: 38rem;
  margin-top: 1.5rem;
}
